.taskForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1.75rem;
}

.taskForm input {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 0 1px inset var(--gray-700);
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 1.4;
  background-color: var(--gray-500);
  transition: box-shadow 150ms ease;
}

.taskForm input::placeholder {
  color: var(--gray-300);
}

.taskForm input:focus {
  box-shadow: 0 0 0 1px inset var(--purple-dark);
}

.taskForm button[type=submit] {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  cursor: pointer;
  background-color: var(--blue-dark);
  transition: background-color 150ms ease;
}

.taskForm button[type=submit]:hover {
  background-color: var(--blue);
}

.taskForm button[type=submit] svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}